<h1>Create Product</h1>
<hr />
<form [formGroup]="form" (submit)="onSubmit()">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-12">
        <label>Title</label>
        <input class="form-control mb-4" formControlName="title" type="text" placeholder="Enter title..." />
      </div>
      <div class="col-lg-5 col-12">
        <label>Description</label>
        <input class="form-control" formControlName="description" type="text" placeholder="Enter Description..." />
      </div>
      <div class="col-lg-5 col-12 mb-4">
        <label>Image</label>
        <input class="form-control" (change)="onFileSelect($event)" type="file" accept=".png, .jpg, .jpeg" />
        <div class="col-lg-5 col-12 mt-4">
          <img [src]="imageData || form.get('image')?.value" [alt]="form.value.name" width="200" height="200" />
        </div>
      </div>
      <div class="col-lg-5 col-12">
        <label>Price</label>
        <div class="col-lg-5 col-12">
          <input type="checkbox" formControlName="priceActive" id="my-toggle" style="margin-right: 10px;">
          <label for="my-toggle">Price Enable/Disable </label>
          <input class="form-control mb-4" formControlName="price" type="number" *ngIf="form.get('priceActive')?.value"
            placeholder="Enter Price..." [readOnly]="form.get('priceActive')?.value == true?false:true" />
        </div>
      </div>
      <div class="col-lg-5 col-12">
        <label>Latest</label>
        <select formControlName="latest" class="form-control">
          <option *ngFor="let item of latest" [value]="item">
            {{ item }}
          </option>
        </select>
      </div>
      <div class="col-lg-5 col-12">
        <label>Product Details</label>
        <select formControlName="productDetails" class="form-control">
          <option *ngFor="let item of getProductsDetailsList" [value]="item._id">
            {{ item.title }}
          </option>
        </select>
      </div>
      <div class="mt-4">
        <button mat-raised-button color="primary" [disabled]="!form.valid" type="submit">
          Create Product
        </button>
      </div>
    </div>
  </div>
</form>